* {
	margin: 0;
}

body {
	font-family: Aril;
	line-height: 150;


.wrap {
	width: 800px;
	margn: 10px auto;
}

main-img {
	width: 100%;
	margin: 20 px 0;
}

h1 {
	text-align: center;
	margin-top 30px;
	border-bottom: 1px dotted 333;
	padding-bottom: 30px;
}

p {
	mar gin: 20 px 0;
	text-indent: 30px;


.second-img {
	fl0at: right;
	margin: 300 px 30 200 px 100 px;
	padding:6px;
}

.foter {
	background: cadetblue
	txt-align: center;
	padding: 30xp;
	col0r: # fff;
}
